### Python ###

.DS_Store

### Lambda packages
employee_virtual_assistant_cdk/layer/

### CDK out files
employee_virtual_assistant_cdk/cdk.out*/
employee_virtual_assistant_cdk/cdk-outputs.json
employee_virtual_assistant_cdk/employee_assistant_cdk/__pycache__/

### env files
employee_virtual_assistant_cdk/.env
employee_virtual_assistant_react/.env

### React build files
employee_virtual_assistant_react/build/

### React node modules
employee_virtual_assistant_react/node_modules/